.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  display: flow-root;
  z-index: 3;
  max-width: 1400px;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 10px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: black;
}

.header li a:hover,
.header .menuBtn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 19px;
  padding: 18px 20px;
  text-decoration: none;
  color: black;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menuIcon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 27px 20px;
  position: relative;
  user-select: none;
}

.header .menuIcon .navIcon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menuIcon .navIcon:before,
.header .menuIcon .navIcon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menuIcon .navIcon:before {
  top: 5px;
}

.header .menuIcon .navIcon:after {
  top: -5px;
}

/* menu btn */

.header .menuBtn {
  display: none;
}

.header .menuBtn:checked ~ .menu {
  max-height: 240px;
}

.header .menuBtn:checked ~ .menuIcon .navIcon {
  background: transparent;
}

.header .menuBtn:checked ~ .menuIcon .navIcon:before {
  transform: rotate(-45deg);
}

.header .menuBtn:checked ~ .menuIcon .navIcon:after {
  transform: rotate(45deg);
}

.header .menuBtn:checked ~ .menuIcon:not(.steps) .navIcon:before,
.header .menuBtn:checked ~ .menuIcon:not(.steps) .navIcon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 19px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menuIcon {
    display: none;
  }
}

